@page "/GestionCuentaContableNominaIndex"

@using MetodologiaDeDesarrolloGrupo3App.Controllers;
@using MetodologiaDeDesarrolloGrupo3App.Models.MovimientoPlanilla

@inject NavigationManager NavManager
@inject IToastService ToastService

<h2>Aqui hagale el CRUD mi washo como le hice con la otra, ya tiene el controlador y en el @@code solo llamas al controllador y tienes que completale al controlador. Ahi basate en lo que hice en movimiento Planilla que esta pepa. Si tiene search pondrasle la barrita de buscar y eso nomás </h2>

@code {

}
