.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.login-card {
    border-radius: 5px;
    padding: 30px 40px;
    width: 400px;
    align-items: center;
    align-content: center;
}

    .login-card h2 {
        color: white;
        align-self: center;
        justify-content: center;
    }

    .login-card img {
        max-width: 200px;
        min-width: 50px;
        margin: -50px 0px -20px 30px;
    }

.login-form label {
    display: block;
    color: white;
    margin-bottom: 10px;
}

::deep .login-form input {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

::deep .login-form select {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.for-input {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .login-btn:hover {
        background-color: #0056b3;
    }

.login-actions {
    display:flex;
    align-content: center;
    justify-self: center;
    margin: -20px;
    margin-left: 85px;
    text-align: center;
}

    .login-actions a {
        text-decoration: none;
        color: #007bff;
        margin: 0 10px;
    }

        .login-actions a:hover {
            text-decoration: underline;
        }
