@page "/resetPassword"

<div class="reset-container">
    <div class="reset-card">
        @if (!sendMail)
        {
            <div class="mail-illustration">
                <div class="envelope">
                    <div class="top"></div>
                    <div class="bottom"></div>
                </div>
            </div>
            <h2>Recuperar cuenta</h2>
            <div class="reset-form">
                <label for="recovery-email">Correo Electrónico:</label>
                <input type="email" placeholder="ejemplo@correo.com" />
                <button class="reset-btn" @onclick="SendRecoveryMail">Enviar correo</button>

            </div>
            <div style="margin-top: 30px">
                <a href="/" class="return-btn">Volver al login</a>
            </div>
        }
        else
        {

            <h2>Email enviado con exito!</h2>
            <div style="margin-top: 30px">
                <a href="/" class="return-btn">Volver al login</a>
            </div>
        }
    </div>
</div>


@code {
    @inject IToastService ToastService

    [Parameter]
    public string mail { get; set; }

    public bool sendMail = false;

    private async Task SendRecoveryMail()
    {
        sendMail = true;
        ToastService.ShowSuccess("Correo enviado con éxito!");
        StateHasChanged();
    }
}
