@using MetodologiaDeDesarrolloGrupo3App.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Grupo 3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-">
                    <MetodologiaDeDesarrolloGrupo3App.Pages.User.Login></MetodologiaDeDesarrolloGrupo3App.Pages.User.Login>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" @onclick="LogOutUser">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesión
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOutUser()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);

        navManager.NavigateTo("/", true);

    }
}
