@using MetodologiaDeDesarrolloGrupo3App.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Grupo 3 Blazor API Exercise</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>

                <NavLink class="nav-link" @onclick="ShowCentroDeCostos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Centro de Costos
                </NavLink>

                <NavLink class="nav-link" @onclick="ShowTrabajadoresList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de Empleados
                </NavLink>

                <NavLink class="nav-link" @onclick="ShowMovimientosList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Movimientos Planilla
                </NavLink>

                <NavLink class="nav-link" @onclick="LogOutUser">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesión
                </NavLink>

            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOutUser()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);

        navManager.NavigateTo("/", true);

    }

    private async Task ShowTrabajadoresList()
    {
        navManager.NavigateTo("/TrabajadoresIndex", true);

    }

    private async Task ShowMovimientosList()
    {
        navManager.NavigateTo("/MovimientoPlanillaIndex", true);

    }

    private async Task ShowCentroDeCostos()
    {
        navManager.NavigateTo("/CentroDeCostosIndex", true);

    }
}
