.mov-table {
    width: 100%;
    border-collapse: collapse;
}

    .mov-table th, .mov-table td {
        border: 1px solid #ccc;
        padding: 10px 15px;
        text-align: left;
    }

    .mov-table thead {
        background-color: #f3f4f6;
    }

    .mov-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .mov-table tbody tr:hover {
        background-color: #e9e9e9;
    }

.create-button, .edit-button, .delete-button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.create-button {
    background-color: limegreen;
}

.edit-button {
    background-color: #007BFF;
}

.delete-button {
    background-color: #FF0000;
}

/* Estilos para la barra de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
}

.search-button {
    background-color: darkgrey;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para los formularios de entrada y los selects */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
}

.form-column {
    flex: 1;
    min-width: 250px; /* Asegúrate de que el ancho mínimo sea adecuado para tus inputs */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Espacio entre cada grupo de label y input/select */
}

.form-label {
    margin-bottom: 5px; /* Espacio entre el label y el input/select */
    font-weight: bold; /* Opcional: para resaltar los labels */
}

.form-control, .form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Los inputs y selects ocupan todo el ancho de su columna */
}

.form-select {
    -webkit-appearance: none; /* Remueve la apariencia predeterminada de los selects en WebKit/Blink */
    -moz-appearance: none; /* Remueve la apariencia predeterminada de los selects en Firefox */
    appearance: none; /* Remueve la apariencia predeterminada para el resto */
    background-color: white; /* Fondo blanco para el select */
    position: relative;
}

.form-select-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que la flecha interfiera con el clic */
    color: #333; /* Color de la flecha, puedes usar cualquier color */
}
